@if (ViewData.ModelState.ErrorCount > 0)
{
    <div style="padding-top: 15px;"></div>

    <div id="msg_box_error" class="alert alert-danger">
        <h3 id="msgReturn" style="padding-top: 20px">Oops! Something seems wrong :(</h3>
        <div style="padding-top: 20px" asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>
}

@if (!string.IsNullOrEmpty(ViewBag.Success))
{
    <div style="padding-top: 15px"></div>

    <div id="msg_box_success" class="alert alert-success">
        <h3 id="msgReturn">@ViewBag.Success</h3>
    </div>
}

@if (TempData["Success"] != null)
{
    <div style="padding-top: 15px"></div>

    <div id="msg_box_success" class="alert alert-success">
        <h4 id="msgReturn">@Html.Raw(TempData["Success"].ToString())</h4>
    </div>
}

